<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estudiante/css/bootstrap/style.css') }}" />
    <style>
        .navbar .navbar-nav .nav-iten a {
            padding: 15px;
        }

        .navbar .navbar-nav .nav-but {
            padding: 10px;
        }

        .btn btn-outline-success {
            color: black;
            border-color: white;
        }

        table {
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center;
            padding: 15px;
        }
    </style>

    <title>Index Profesor</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo_iub.jpeg' )}}"
                    alt="logo" style="height: 60px; width: 70px; border-radius: 15px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index_profe">MIS CONSULTAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">REALIZAR CONSULTAS</a>
                    </li>
                    

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            AJUSTES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">CONFIGURACIÓN</a></li>
                            <li>
                                <a class="dropdown-item" href="/logout">CERRAR SESIÓN</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex ms-auto" action="{{ url_for('index_profe') }}" method="GET">
                    <input class="d-flex ms-auto" type="search" name="search" id="search" placeholder="BUSCAR"
                        aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit"
                        style="color: black; border-color: white">
                        BUSCAR
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <br /><br /><br />
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">MIS CONSULTAS</h2>
                </div>
            </div>
            {% if payload_search %}
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>TIPO DE DOCUMENTO</th>
                                    <th>NUMERO DE DOCUMENTO</th>
                                    <th>PROGRAMA</th>
                                    <th>CORREO INSTITUCIONAL</th>
                                    <th>DIA</th>
                                    <th>DESCRIPCION</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for payload in payload_search %}
                                <tr>
                                    <td>{{ payload['nombre_estudiante'] }} {{ payload['apellido_estudiante'] }}</td>
                                    <td>{{ payload['tipo_documento'] }}</td>
                                    <td>{{ payload['numero_estudiante'] }}</td>
                                    <td>{{ payload['programa'] }}</td>
                                    <td>{{ payload['correo'] }}</td>
                                    <td>{{ payload['fecha'] }}</td>
                                    <td>{{ payload['descripcion'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row" style="display: flex; overflow-y:auto" >
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th>NOMBRE</th>
                                    <!-- <th>TIPO DEDOCUMENTO</th> -->
                                    <!-- <th>DOCUMENTO</th> -->
                                    <th>PROGRAMA</th>
                                    <th>CORREO INSTITUCIONAL</th>
                                    <th>DIA</th>
                                    <th>DESCRIPCION</th>
                                    <th>ACEPTAR</th>
                                    <th>DECLINAR</th>
                                    <th>EDITAR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payload in payload %}
                                <tr>
                                    <td>{{ payload['nombre_estudiante'] }} {{ payload['apellido_estudiante'] }}</td>
                                    <!-- <td witdth="90"> {{payload['tipo_documento'] }}</td> -->
                                    <!-- <td>{{ payload['numero_estudiante'] }}</td> -->
                                    <td>{{ payload['programa'] }}</td>
                                    <td>{{ payload['correo'] }}</td>
                                    <td width="130">{{ payload['fecha'] }}</td>
                                    <td style="overflow-y: auto;">{{ payload['descripcion'] }}</td>
                                    <td width="120">
                                        <form action="/aceptar/{{payload['id']}}" method="POST">
                                            <button type="submit" class="btn btn-primary" name="aceptar" value="aceptar">Aceptar</button>
                                        </form>
                                    </td>
                                        <td width="120">
                                        <form action="/declinar/{{payload['id']}}" method="POST">
                                            <button type="submit" class="btn btn-danger" name="declinar" value="declinar">Declinar</buton>
                                            </form> 
                                        </td>   
                                        <td width="120">
                                            <form action="/update/{{payload['id']}}" method="get">
                                                <input type="hidden" name="id" value="{{payload['id']}}">
                                                <button type="submit" class="btn btn-success">Editar</button>
                                            </form>
                                        </td>

                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="pagination justify-content-center">
                {{ pagination.info }}
                {{ pagination.links }}
            {% endif %}
        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
</body>

</html>
